{% include "./inc/cert.html" %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>
           首页-添加
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="../static/css/x-admin.css" media="all">
    </head>

    <body>
    <div class="layui-layout layui-layout-admin">
        {% include "./inc/header.html" %}
        {% include "./inc/left.html" %}
        <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
        <div class="x-body">

            <form class="layui-form" id="transfer_form"  onsubmit="return false">

        <!--    <form class="layui-form" id="transfer_form" action="/transfer/" method="post">  -->

                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>取款卡号
                    </label>
                    <div class="layui-input-inline">
                        <select lay-verify="required" id="card" name="scard">
                                <option>
                                </option>
                                <optgroup label="选择卡号">
                                    {% for line in card_list3 %}
                                        <option value={{ line.id }}>{{ line.id }}</option>
                                    {% endfor %}
                                </optgroup>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>取款金额
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="amount" name="amount" required lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="desc" class="layui-form-label">
                        <span class="x-red">*</span>验证
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" id="paypasswd" name="paypasswd" required lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" onclick="formAck()">
                        确认取款
                    </button>
                </div>
            </form>
        </div>
        </div>
    </div>
        <script src="../static/jiawe_js/jsencrypt.js"></script>
        <script>
            function formAck() {
                alert("success");
                var cert=document.getElementById("cert").value;
                var certInfo=JSON.parse(cert).info.certInfo
                var pubKey=JSON.parse(certInfo).PublicKey
                var encrypt = new JSEncrypt();
                encrypt.setPublicKey(pubKey);

                alert(pubKey)

                var data={
                    card:encrypt.encrypt($('#card').val(), true),
                    amount:encrypt.encrypt($('#amount').val(), true),
                    paypasswd:encrypt.encrypt($('#paypasswd').val(), true)
                };

                $.ajax({
                    url:"/userdraw/",
                    type:"POST",
                    data: data,
                    success:function (data1) {
                        if(data1=="success"){
                            window.location.href="/viewuserinf/"
                        }else{
                            alert(data1)
                            window.location.href="/userdraw/"
                        }
                    }
                })
            }

        </script>
<!--
        <script src="../static/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="../static/js/x-layui.js" charset="utf-8">
        </script>
        <script>
            layui.use(['form','layer','upload'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;


              //图片上传接口
              layui.upload({
                url: './upload.json' //上传接口
                ,success: function(res){ //上传成功后的回调
                    console.log(res);
                  $('#LAY_demo_upload').attr('src',res.url);
                }
              });


              //监听提交
              form.on('submit(add)', function(data){
                console.log(data);
                //发异步，把数据提交给php
                layer.alert("增加成功", {icon: 6},function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
                return false;
              });


            });
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
,
        </script>      -->
    </body>

</html>